@import "../../../styles/variables.scss";
.cube08 {
    width: 150px;
    height: 150px;
}

.cube08 > * {
    text-align: center;
    font-size: 100px;
    line-height: 150px;
    font-weight: bold;
    color: #000;
    background: transparent;
}

.cube09 {
    width: 80px;
    height: 80px;
}

.cube09 > * {
    // background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('./logo.png');
}

.wrap {
    // transform: rotate(24deg);
    // perspective-origin: center 185%;
    // height: 200px;
    // width: 200px;
    transform: rotate(12deg);
    perspective-origin: center 125%;
    height: 120px;
    width: 120px;
    margin: 0 auto;
}

@media #{$tablet} {
    .cube09 {
        width: 120px;
        height: 120px;
    }
    .wrap {
            margin-top: 24px;
    height: 180px;
        width: 200px;
    }
}
